.header{
    display: flex;
    justify-content: flex-end;
    background-color: #cccce3;

}

.header h2{
    margin-right: auto;
    font-size: 36px;
    font-weight: bolder;
}

.header p{
    font-size: 21px;
    margin-right: 30px;
    margin-top: 6px;
}

.logout-btn{
    height: 40px;
    width: 101px;
    margin: 6px;
}